{% assign people = site.people %}


  <div class="collage">
    <div class="column">
      {% for person in people limit:3 %}
        <img src="{{ site.baseurl }}{{ person.image_path }}" title="{{ person.firstname }} {{ person.surname }}" alt="{{ person.firstname }} {{ person.surname}}" />
      {% endfor %}
    </div>
    <div class="column">
      {% for person in people limit:3 offset:3 %}
        <img src="{{ site.baseurl }}{{ person.image_path }}" title="{{ person.firstname }} {{ person.surname }}" alt="{{ person.firstname }} {{ person.surname}}" />
      {% endfor %}
    </div>
    <div class="column">
      {% for person in people limit:3 offset:6 %}
        <img src="{{ site.baseurl }}{{ person.image_path }}" title="{{ person.firstname }} {{ person.surname }}" alt="{{ person.firstname }} {{ person.surname}}" />
      {% endfor %}
    </div>
    <div class="column">
      {% for person in people limit:3 offset:9 %}
        <img src="{{ site.baseurl }}{{ person.image_path }}" title="{{ person.firstname }} {{ person.surname }}" alt="{{ person.firstname }} {{ person.surname}}" />
      {% endfor %}
    </div>
    <div class="column">
      {% for person in people limit:3 offset:12 %}
        <img src="{{ site.baseurl }}{{ person.image_path }}" title="{{ person.firstname }} {{ person.surname }}" alt="{{ person.firstname }} {{ person.surname}}" />
      {% endfor %}
    </div>
    <div class="column">
      {% for person in people limit:3 offset:15 %}
        <img src="{{ site.baseurl }}{{ person.image_path }}" title="{{ person.firstname }} {{ person.surname }}" alt="{{ person.firstname }} {{ person.surname}}" />
      {% endfor %}
    </div>
  </div>
