<h3 class="thin">Funding</h3>
Our work is supported by the <a href="https://www.mpg.de/de" title="MPG">Max Planck Society</a> and the <a href="https://www.nwo.nl" title="NWO" target="_blank">Netherlands Organization for Scientific Research (NWO)</a>.

<!-- <ul class="logo-block">
  <li><img class="logo" src="{{ base.url }}/assets/images/NWO_logo-RGB.png" alt="NWO" style="height:50%; width:50%;"></li>
  <li><img class="logo" src="{{ base.url }}/assets/images/MPIfPL_logo_tag.png" alt="MPI" style="height:50%; width:50%;"></li>
</ul> -->
