
<h1 class="post-title">We are recruiting for our research studies</h1>

<h5 class="header">We are currently seeking native speakers of Dutch to participating in our research studies! Our studies typically use a brain monitoring technique called magnetoencephalography, or MEG, to record magnetic activity in the brain. It poses no known health risks. Our studies usually require a time commitment of one to two hours and can be scheduled at a time that is convenient for you. As compensation, we provide €10 per hour for your time.</h5>

<h3 class="thin">Contact</h3>
<p>To register your interest, the best way to reach us is to email us at <a href="mailto:lacns@mpi.nl">lacns@mpi.nl</a>. Please also state the following:</p>
- your age,
- whether you have any non-removable metal, such as permanent piercings, medical implants, and dental work such as braces/retainers,
- whether you have any (history of) neurological disorders,
- whether you have normal, or corrected to normal, hearing and vision,
- any other languages you speak and at what proficiency.

<!-- <form action="https://www.ru.nl/donders/vm-site/proefpersonen/engelse-versies-centers/participants/">
    <input type="submit" value="Sign up here!" />
</form> -->

<h3 class="thin">Location</h3>
<div class="location">
  <div class="loc-column">
    <p><a href="https://www.ru.nl/donders/vm-site/proefpersonen/engelse-versies-centers/participants/donders-centre-cognitive-neuroimaging-en/" title="Donders Centre for Cognitive Neuroimaging" target="_blank">Donders Centre for Cognitive Neuroimaging</a><br>
    Trigon gebouw <br>
    Kapittelweg 29 <br>
    6525 EN Nijmegen <br></p>
  </div>
  <div class="loc-column">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2465.9078176264497!2d5.861144616093071!3d51.826114395170315!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c708f0ef1fb461%3A0x7b612535b3a8c312!2sDonders%20Centre%20for%20Cognitive%20Neuroimaging!5e0!3m2!1sen!2snl!4v1606315928696!5m2!1sen!2snl" width="100%" height="100%" frameborder="0" style="border:0; -webkit-filter: grayscale(100%); filter: grayscale(100%);" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
  </div>
</div>
