{% assign people = site.people | sort: 'surname' %}
{% assign group-leader = site.array %}
{% assign everyone-else = site.array %}

{% for person in people %}
  {% if person.role == 'Group leader' %}
    {% assign group-leader = group-leader | push: person %}
  {% else %}
    {% assign everyone-else = everyone-else | push: person %}
  {% endif %}
{% endfor %}

<h1 class="post-title">Lab members</h1>
<h5 class="header">Our interdisciplinary group consists of international scientists consisting of linguists, cognitive scientists, cognitive neuroscientists, computational neuroscientists, computational modellers, computational scientists, and engineers.</h5>

<div class="members">
  {% for person in group-leader %}
  <div class="member">
      <div class="image">
        <img src="{{ site.baseurl }}{{ person.image_path }}" title="{{ person.firstname }} {{ person.surname }}" alt="{{ person.firstname }} {{ person.surname }}" />
      </div>
      <div class="info">
        <div class="name">{{ person.firstname }} {{ person.surname }}</div>
        <div class="role">Research Group Leader</div>
        <div class="contacts">{% include buttons.html %}</div>
        <p>{{ person.bio }}</p>
      </div>
    </div>
  {% endfor %}

  {% for person in everyone-else %}
  <div class="member">
      <div class="image">
        <img src="{{ site.baseurl }}{{ person.image_path }}" title="{{ person.firstname }} {{ person.surname }}" alt="{{ person.firstname }} {{ person.surname }}" />
      </div>
      <div class="info">
        <div class="name">{{ person.firstname }} {{ person.surname }}</div>
        <div class="role">{{ person.role }}</div>
        <div class="contacts">{% include buttons.html %}</div>
        <p>{{ person.bio }}</p>
      </div>
    </div>
  {% endfor %}
</div>
